
  @media only screen and (max-width: 576px) {
    .quora {
 
      .quora_content {
        width: 100%;
        display: block;
        margin-top:20px 0 0 0;
        position: relative;
        background-color: rgb(241, 241, 241);
        border: 1px solid red;
      
      }
    }
  }
