.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: white;
    min-height: 50px;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
  
    .navbar_logo {
      img {
        height: 25px;
        margin-right: 20px;
      }
    }
    .navbar_icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;

      .navbar_icon {
        color: gray;
        cursor: pointer;
        padding: 5px 18px;
        border-radius: 10px;
        font-size: 1.6em;
       
        &:hover {
          color: #a0201c;
          background-color: rgb(242, 242, 242);
        }
  
        .MuiSvgIcon-root {
          font-size: 2rem;
        }
      }
    }
    .navbar_input {
      width: 20%;
      height: 35px;
      display: flex;
      align-items: center;
      border: 1px solid lightgray;
  
      .MuiSvgIcon-root {
        color: gray;
      }
  
      input {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        color: rgb(49, 49, 49);
        
      }
      &:hover{
        border: 1px solid rgb(49, 143, 197);
      }
    }
    .navbar_right {
      display: flex;
      align-items: center;
      margin-left: 25px;
      a{
        text-decoration: none;
      }
      .navbar_tryout{
        border-radius: 22px;
        padding: 5px;
        border: 1px solid #e6e3e3;
        margin-right: 10px;
        cursor: pointer;
        &:hover{
          background-color: #dfdede;
        }
      }
      .language-icon{    
       font-size: 2rem;
       color:#a4a4a4;
        cursor: pointer;
        margin: 0 20px;
      
      }
      .navbar_avatar {
        .MuiAvatar-root {
          height: 30px;
          width: 30px;
          cursor: pointer;
        }
      }
      .MuiSvgIcon-root {
        font-size: 2rem;
        color: gray;
        cursor: pointer;
        margin: 0 20px;
  
        &:hover {
          color: #a0201c;
        }
      }
      .MuiButtonBase-root {
        width: 10rem;
        font-size: 0.8rem;
        color: white;
        text-transform: inherit;
        background-color: #a0201c;
        border-radius: 20px;
        cursor: pointer;
  
        &:hover {
          background-color: #861e1a;
          box-shadow: 0px 1px 1px 1px gray;
        }
      }
    }
  }
  
  .modal_title {
    width: 740px;
    height: 475px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
   
    flex-direction: column;
    background-color: #fff;
    margin-left: 23%;
    margin-top: 4%;
    border-radius: 10px;
    
  
    .headings {
      width: 100%;
      display: flex;
     margin-top: 50px;
     border-bottom: 1px solid #e7e7e7;
          
      .headings-txt{
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #2e69ff;
      }
      .headings-txt-nobar{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      h5 {
       
        font-size: 16px;

        cursor: pointer;
        font-weight: 500;
        margin: 0;
        padding:10px 0;
        &:hover {
          color: rgb(142, 0, 0);
        }
      }
    }
    .model-add_question-hide{
      display: none;
    }
    .modal-tips{
      width: 660px;
      padding: 16px;
      border-radius: 3px;
      
      background-color: #ebf0ff;
      color: #2e69ff;
      line-height: 1.5;
      margin:16px 16px;
      h4{
        margin: 0;
      }
      ul{
        margin-top: 0;
      }
    }
    .modal_info {
      display: flex;
      align-items: center;
   
      margin-left: 16px;
      p {
       margin: 0;
       padding: 0 5px;
        font-size: small;
        color: gray;
      }
      .modal_scope {
        display: flex;
        color: rgb(68, 68, 68);
        padding: 5px 10px;
        margin-left: 10px;
        border: 1px solid #e7e7e7;
        border-radius: 33px;
        cursor: pointer;
        .modal_scope-btns{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {
          font-weight: 600;
        }
      }
    }
    .modal_field {
      width: 660px;
      display: flex;
      flex-direction: column;
      padding: 20px 50px 0 10px;
     
      margin-left: 16px;
  
      .modal_fieldLink {
        width: 100%;
        color: gray;
        display: flex;
        align-items: center;
        margin-top: 10px;
  
        .MuiInputBase-root {
          width: 100%;
        }
  
        input {
          width: 100%;
          border: none;
          outline: none;
          margin: 5px;
        }
      }
    }
    
    .modal_buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 65px;
     width: 740px;
      border-top: 1px solid #e7e7e7;
      gap: 15px;
      
      
      .cancle {
      
        border: none;
        margin-top: 5px;
        outline: none;
        color: rgb(81, 81, 81);
        font-weight: 500;
        padding: 10px;
   
        border-radius: 33px;
        cursor: pointer;
        background-color: white;
        &:hover {
          background-color: #d7d7d7;
        }
      }
      .add {
      
        border: none;
        margin-top: 10px;
        outline: none;
        color: white;
        font-weight: 500;
        padding: 10px;
        margin-right:20px ;
        border-radius: 33px;
        cursor: pointer;
        background-color: #2e69ff;
        &:hover {
          background-color: #5e8af8;
        }
      }
    }
    .model-create_post{
      width: 95%;
      padding: 16px;
      .model-post-top_section{
        display: flex;
        padding-bottom: 16px;
      }
     
      .model-post-bottom_section textarea{
        width: 95%;
        outline: none;
        border: none;
        font-size: large;
      }
    
    }
    .modal-scope_buttons{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin: 16px 10px 15px auto;
      border-top: 1px solid #e7e7e7;
      .post-add {
      
        border: none;
        margin-top: 10px;
        outline: none;
        color: white;
        font-weight: 500;
        padding: 10px 20px;
        margin-right:20px ;
        border-radius: 33px;
        cursor: pointer;
        background-color: #2e69ff;
        &:hover {
          background-color: #5e8af8;
        }
      }
    }
  }
  
  @media only screen and (max-width: 1250px) {
    .ReactModalPortal {
      .ReactModal__Overlay {
        .ReactModal__Content {
          margin: 50px 250px;
        }
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .ReactModalPortal {
      .ReactModal__Overlay {
        .ReactModal__Content {
          margin: 50px 100px;
        }
      }
    }
  }
  @media only screen and (max-width: 576px) {
    .ReactModalPortal {
      .ReactModal__Overlay {
        width: 400;
        height: 600;
        z-index: 1000;
  
      }
    }
  }
  
  @media only screen and (max-width: 576px) {
    .navbar {
      width: 100%;
      
      padding: 5px;
      .navbar_logo{
        display: none;
      }
      .navbar_icons {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
      
  
        .navbar_icon {
          width:20%;
          display: grid;
          place-items: center;
          color: gray;
          cursor: pointer;
          padding: 0;
          margin: 0;
          border-radius: 10px;
          font-size: 1.6em;
         
          
          &:hover {
            color: #a0201c;
            background-color: rgb(242, 242, 242);
          }
    
          .MuiSvgIcon-root {
            font-size: 1rem;
          }
        }
      }
      .navbar_input {
        display: none;
      }
      .navbar_right {
        display: flex;
        justify-content: space-around;
      align-items: center;
      
       
        .navbar_tryout{
          display: none;
        }      
      }
      .h-add-quetion-btn{
        display: none;
      }
      .navbar_right {
        width: 30%;
        margin-left: 5px;
        .language-icon{    
          font-size: 1.6em;
          color:#a4a4a4;
           cursor: pointer;
           margin: 0 5px;
         
         }
         .navbar_avatar {
           .MuiAvatar-root {
             height: 30px;
             width: 30px;
             cursor: pointer;
           }
         }
      }
    }
  }
  