.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background-color: white;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}
.navbar .navbar_logo img {
  height: 25px;
  margin-right: 20px;
}
.navbar .navbar_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.navbar .navbar_icons .navbar_icon {
  color: gray;
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 10px;
  font-size: 1.6em;
}
.navbar .navbar_icons .navbar_icon:hover {
  color: #a0201c;
  background-color: rgb(242, 242, 242);
}
.navbar .navbar_icons .navbar_icon .MuiSvgIcon-root {
  font-size: 2rem;
}
.navbar .navbar_input {
  width: 20%;
  height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}
.navbar .navbar_input .MuiSvgIcon-root {
  color: gray;
}
.navbar .navbar_input input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(49, 49, 49);
}
.navbar .navbar_input:hover {
  border: 1px solid rgb(49, 143, 197);
}
.navbar .navbar_right {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.navbar .navbar_right .navbar_tryout {
  border-radius: 22px;
  padding: 5px;
  border: 1px solid #e6e3e3;
  margin-right: 10px;
  cursor: pointer;
}
.navbar .navbar_right .navbar_tryout:hover {
  background-color: #dfdede;
}
.navbar .navbar_right .language-icon {
  font-size: 2rem;
  color: #a4a4a4;
  cursor: pointer;
  margin: 0 20px;
}
.navbar .navbar_right .navbar_avatar .MuiAvatar-root {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.navbar .navbar_right .MuiSvgIcon-root {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  margin: 0 20px;
}
.navbar .navbar_right .MuiSvgIcon-root:hover {
  color: #a0201c;
}
.navbar .navbar_right .MuiButtonBase-root {
  width: 10rem;
  font-size: 0.8rem;
  color: white;
  text-transform: inherit;
  background-color: #a0201c;
  border-radius: 20px;
  cursor: pointer;
}
.navbar .navbar_right .MuiButtonBase-root:hover {
  background-color: #861e1a;
  box-shadow: 0px 1px 1px 1px gray;
}

.modal_title {
  width: 740px;
  height: 475px;
  display: flex;
  align-items: start;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  flex-direction: column;
  background-color: #fff;
  margin-left: 23%;
  margin-top: 4%;
  border-radius: 10px;
}
.modal_title .headings {
  width: 100%;
  display: flex;
  margin-top: 50px;
  border-bottom: 1px solid #e7e7e7;
}
.modal_title .headings .headings-txt {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal_title .headings h5 {
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  padding: 10px 0;
}
.modal_title .headings h5:hover {
  color: rgb(142, 0, 0);
}
.modal_title .modal-tips {
  width: 660px;
  padding: 16px;
  border-radius: 3px;
  background-color: #ebf0ff;
  color: #2e69ff;
  line-height: 1.5;
  margin: 16px 16px;
}
.modal_title .modal-tips h4 {
  margin: 0;
}
.modal_title .modal-tips ul {
  margin-top: 0;
}
.modal_title .modal_info {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.modal_title .modal_info p {
  margin: 0;
  padding: 0 5px;
  font-size: small;
  color: gray;
}
.modal_title .modal_info .modal_scope {
  display: flex;
  color: rgb(68, 68, 68);
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 33px;
  cursor: pointer;
}
.modal_title .modal_info .modal_scope .modal_scope-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_title .modal_info .modal_scope p {
  font-weight: 600;
}
.modal_title .modal_field {
  width: 660px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 0 10px;
  margin-left: 16px;
}
.modal_title .modal_field .modal_fieldLink {
  width: 100%;
  color: gray;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.modal_title .modal_field .modal_fieldLink .MuiInputBase-root {
  width: 100%;
}
.modal_title .modal_field .modal_fieldLink input {
  width: 100%;
  border: none;
  outline: none;
  margin: 5px;
}
.modal_title .modal_buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 65px;
  width: 740px;
  border-top: 1px solid #e7e7e7;
  gap: 15px;
}
.modal_title .modal_buttons .cancle {
  border: none;
  margin-top: 5px;
  outline: none;
  color: rgb(81, 81, 81);
  font-weight: 500;
  padding: 10px;
  border-radius: 33px;
  cursor: pointer;
  background-color: white;
}
.modal_title .modal_buttons .cancle:hover {
  background-color: #d7d7d7;
}
.modal_title .modal_buttons .add {
  border: none;
  margin-top: 10px;
  outline: none;
  color: white;
  font-weight: 500;
  padding: 10px;
  margin-right: 20px;
  border-radius: 33px;
  cursor: pointer;
  background-color: #a0201c;
}
.modal_title .modal_buttons .add:hover {
  background-color: #781814;
}

@media only screen and (max-width: 1250px) {
  .ReactModalPortal .ReactModal__Overlay .ReactModal__Content {
    margin: 50px 250px;
  }
}
@media only screen and (max-width: 1000px) {
  .ReactModalPortal .ReactModal__Overlay .ReactModal__Content {
    margin: 50px 100px;
  }
}
@media only screen and (max-width: 576px) {
  .ReactModalPortal .ReactModal__Overlay {
    width: 400;
    height: 600;
    z-index: 1000;
  }
}
@media only screen and (max-width: 576px) {
  .navbar {
    justify-content: space-around;
    padding: 5px 0;
  }
  .navbar .navbar_icons {
    display: none;
  }
  .navbar .navbar_input {
    display: none;
  }
  .navbar .navbar_right {
    gap: 10px;
  }
  .navbar .navbar_right .MuiButtonBase-root {
    width: 100%;
  }
  .navbar .navbar_right .MuiSvgIcon-root {
    display: none;
  }
}/*# sourceMappingURL=Navbar.css.map */